.scroll__down {
  position: absolute;
  bottom: 1.5rem;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.home__scroll-name{
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
}

.mouse{
  border: 2px solid #454360;
  display:block;
  width: 1.25rem;
  height: 1.6rem;
  margin: auto;
  margin-top: .75rem;
  border-radius: 1rem;
  position: relative;
}


.mouse__wrapper{}


@keyframes ani-mouse {
  0% {
    top: 29%;
  }

  15% {
    top: 50%;
  }

  50% {
    top: 50%;
  }
  
  100% {
    top: 29%;
  }
}

.well{
  background-color: var(--title-color);
  border-radius: 100%;
  width: 0.25rem;
  height: 0.25rem;
  position: absolute;
  top: .5rem;
  left: 50%;
  transform: translate(-50%);
  animation: ani-mouse 2s linear infinite;
}
